body {
    margin: 0;
    padding: 0;
    font-family: "Poppins", sans-serif;
    background: radial-gradient(circle at top left, #d7d7d7, #f3f3f3);
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.register-container {
    width: 380px;
    padding: 40px 35px;
    text-align: center;
    border-radius: 25px;
    background: rgba(255, 255, 255, 0.8);
    box-shadow: 0 8px 32px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(8px);
    -webkit-backdrop-filter: blur(8px);
    border: 1px solid rgba(255, 255, 255, 0.6);
}

.register-container h2 {
    margin-bottom: 5px;
    font-weight: 600;
    font-size: 26px;
    color: #333;
}

.register-container p {
    margin-top: 0;
    margin-bottom: 25px;
    color: #555;
    font-size: 14px;
}

.register-container input {
    width: 100%;
    padding: 12px;
    margin-bottom: 18px;
    border-radius: 12px;
    border: 1px solid #ccc;
    outline: none;
    font-size: 15px;
    background: white;
}

.register-container input:focus {
    border-color: #000;
}

.register-btn {
    width: 100%;
    padding: 12px;
    border-radius: 12px;
    background: #000;
    color: white;
    border: none;
    font-size: 16px;
    cursor: pointer;
}

.signin {
    margin-top: 18px;
    font-size: 14px;
}

.signin a {
    color: #000;
    text-decoration: none;
    font-weight: 600;
}