{% load static %}
<!DOCTYPE html>
<html lang="zh-Hant">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Foodie · 使用者登入</title>
    <link rel="stylesheet" href="{% static 'usersideapp/css/User_login.css' %}">
</head>

<body>
    <div class="login-container">
        <h2>Welcome back</h2>
        <p>用使用者帳號來登入系統</p>

        <input type="email" placeholder="使用者 Email">
        <input type="password" placeholder="密碼">

        <button class="login-btn">登入</button>

        <div class="signup">
            <p>還沒有使用者帳號嗎? <a href="{% url 'usersideapp:register' %}">點我註冊</a></p>
            <p><a href="{% url 'usersideapp:login' %}">切換其他身分（預留）</a></p>
        </div>
    </div>

    <script>
        window.authRoutes = {
            home: "{% url 'usersideapp:home' %}"
        };
    </script>
    <script src="{% static 'usersideapp/js/User_login.js' %}"></script>
</body>

</html>